_{{prog_name}}_completion() {
    local IFS=$'\t'
    _get_comp_words_by_ref -n : -w words -i cword
    COMPREPLY=( $( env COMP_WORDS="${words[*]}" \
                   COMP_CWORD=$cword \
{%- for k, v in extra_env.items() %}
                   {{k}}={{v}} \
{%- endfor %}
                   {{complete_var}}=complete-bash $1 ) )
    __ltrim_colon_completions "${words[cword]}"
    return 0
}

complete -F _{{prog_name}}_completion -o default {{prog_name}}
